@import "color.css";

* {
    font-family: 'Maple Mono NF CN';
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: @base;
    border: 2px solid @text;
    border-radius: 10px;
}

.modules-right {
    padding-top:    15px;
    padding-bottom: 15px;
}

.modules-left {
    padding-top:    15px;
    padding-bottom: 15px;
}

.modules-center {
    background-color: transparent;
    font-style: italic;
}

#workspaces button {
    padding: 2px 2px;
    background-color: transparent;
    color: #ecd3a0;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.focused, #workspaces button.active {
    color: #ecd3a0;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.empty {
  color: #7a95c9;
}

#workspaces button.urgent {
    color: @red;
}

#custom-arch {
  font-size: 20;
  padding-left: 5px;
  color: #7a95c9;
}

#clock,
#battery,
#cpu,
#memory,
#backlight,
#pulseaudio,
#tray,
#scratchpad {
    color: @text;
}

#battery {
  color: #8fbcbb;
}

#battery.plugged {
    color: @green;
}

#battery.critical,
#battery.warning {
  color: @red;
}

#battery.full {
  color: @green;
}

#battery.warning:not(.charging) {
    color: @peach;
}

#battery.critical:not(.charging) {
    color: @red;
}

label:focus {
    background-color: @surface1;
}

#cpu {
    color: #c099ff;
}

#cpu.critical {
    color: @red;
}

#memory {
    color: #4fd6be;
}

#memory.critical {
    color: @red;
}

#backlight {
  color: #ff966c;
}

#pulseaudio {
    color: #c3e88d;
}

#pulseaudio.muted {
    color: #fb958b;
}

#tray {
    color: @blue;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: @red;
    border: 2px solid @blue;
}

#clock {
  color: #82aaff;
}

#custom-separator {
    color: @surface1;
}
