dconf
autostart
vlc
mihomo-party
fcitx
fcitx5
ibus
pulse
yay
completions
conf.d
fish_plugins
fish_variables
functions
gtk-3.0
QtProject.conf
obs-studio
htop
kitty.conf.bak
chromium
google-chrome
systemd
Code
Notion
configstore
gpick
pavucontrol.ini
Kingsoft
Google
flutter
ok
eww
