* {
  font-family: FiraCode Nerd Font;
  font-size: 14px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background-color: #1e1e2e;
  color: #ffffff;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.1;
}

#backlight,
#battery,
#pulseaudio,
#clock,
#cpu,
#memory,
#workspaces,
#tray {
  color: #e5e5e5;
  padding: 0 12px;
}

#window {
  color: #64727d;
}

#workspaces button {
  color: #ecd3a0;
  box-shadow: inset 0 -3px transparent;

  padding-right: 11px;
  padding-left: 12px;

  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.active {
  color: #ecd3a0;
  padding-left: 1px;
  padding-right: 12px;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.empty {
  color: #7a95c9;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#custom-arch {
  font-size: 16;
  color: #7a95c9;
}

#cpu {
  color: #c099ff;
}

#memory {
  color: #4fd6be;
}

#pulseaudio.muted {
  color: #fb958b;
}

#backlight {
  color: #ff966c;
}

#pulseaudio {
  color: #c3e88d;
}

#battery {
  color: #8fbcbb;
}

#battery.critical,
#battery.warning,
#battery.full,
#battery.plugged {
  color: #8fbcbb;
}

@keyframes blink {
  to {
    color: #abb2bf;
  }
}

#battery.warning {
  color: #ecd3a0;
}

#battery.critical:not(.charging) {
  color: #fb958b;
}

#clock {
  color: #82aaff;
}

tooltip {
  padding: 15px;
}

tooltip label {
  padding: 5px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}
