* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Material Design Icons, JetBrainsMono Nerd Font;
  font-size: 14px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background-color: rgba(26, 27, 38, 0.5);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.1;
}

#window {
  color: #64727d;
}

#clock,
#cpu,
#custom-memory,
#tray,
#workspaces,
#custom-launcher {
  color: #e5e5e5;
  border-radius: 6px;
  padding: 0px 10px;
  background-color: #252733;

  /*margin-left: 4px;*/
  /*margin-right: 4px;*/

  margin: 4px 10px;
}

#cpu {
  color: #c099ff;
}

#custom-memory {
  color: #4fd6be;
}

#workspaces button {
  color: #ecd3a0;
  box-shadow: inset 0 -3px transparent;

  padding-right: 3px;
  padding-left: 4px;

  margin-left: 0.1em;
  margin-right: 0em;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.active {
  color: #ecd3a0;
  padding-left: 1px;
  padding-right: 12px;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.empty {
  color: #7a95c9;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#custom-launcher {
  font-size: 18;
  color: #7a95c9;
  padding-right: 19px;
  padding-left: 14px;
}

#backlight,
#battery,
#pulseaudio {
  background-color: #252733;
  margin: 4px 0px;
  padding: 0px 12px;
}


#pulseaudio.muted {
  color: #fb958b;
}

#backlight {
  color: #ff966c;
  padding: 0px 5px;
}

#pulseaudio {
  color: #c3e88d;
  border-radius: 8px 0px 0px 8px;
  padding-right: 5px;
}

#battery {
  color: #8fbcbb;
  border-radius: 0px 8px 8px 0px;
  padding-left: 5px;
  margin-right: 10px;
}

#battery.critical,
#battery.warning,
#battery.full,
#battery.plugged {
  color: #8fbcbb;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.warning {
  color: #ecd3a0;
}

#battery.critical:not(.charging) {
  color: #fb958b;
}

#clock {
  color: #82aaff;
  margin: 4px 10px;
}

tooltip {
  border-radius: 15px;
  padding: 15px;
  background-color: #1f232b;
}

tooltip label {
  padding: 5px;
}

label:focus {
  background-color: #1f232b;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
