@import "color.css";

* {
    font-family: 'Maple Mono NF CN';
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: rgba(30, 30, 46, 0.95);
    border: 2px solid @text;
    border-radius: 10px;
}

.modules-right {
    padding-top:    3px;
    padding-bottom: 3px;
}

.modules-left {
    padding-top:    3px;
    padding-bottom: 3px;
}

.modules-center {
    background-color: transparent;
    font-style: italic;
}

#workspaces button {
  color: #ecd3a0;
  box-shadow: inset 0 -3px transparent;

  padding-right: 3px;
  padding-left: 4px;

  margin-left: 0.1em;
  margin-right: 0em;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.active {
  color: #ecd3a0;
  padding-left: 1px;
  padding-right: 12px;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.empty {
  color: #7a95c9;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock,
#battery,
#cpu,
#memory,
#backlight,
#pulseaudio,
#tray {
    color: @text;
}

#custom-arch {
  font-size: 20;
  padding-left: 20px;
  color: #7a95c9;
}


#battery {
  color: #8fbcbb;
  padding-right: 15px;
}

#battery.plugged {
    color: @green;
}

#battery.critical,
#battery.warning {
  color: @red;
}

#battery.full {
  color: @green;
}

#battery.warning:not(.charging) {
    color: @peach;
}

#battery.critical:not(.charging) {
    color: @red;
}

#cpu {
    color: #c099ff;
}

#cpu.critical {
    color: @red;
}

#memory {
    color: #4fd6be;
}

#memory.critical {
    color: @red;
}

#backlight {
  color: #ff966c;
}

#pulseaudio {
    color: #c3e88d;
}

#pulseaudio.muted {
    color: #fb958b;
}

#tray {
    color: @blue;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: @red;
    border: 2px solid @blue;
}

#clock {
  color: #82aaff;
}

#custom-separator {
    color: @surface1;
}
